
// Colori in hover
$color-hover:rgb(5, 204, 124);
$color-bg-box-hover:rgb(67, 80, 255);
$color-text-btm-hover:rgb(0, 172, 77);


// Colori static
$color-text:rgb(255, 255, 255);
$color-bg-box-squad-letters:rgb(32, 32, 70);
$color-text-btn:rgb(0, 172, 77);
$color-bg-box-squad-letters:rgb(51, 50, 135);
$color-bg-container-2-5-8-11:rgb(25, 25, 53);

// Font utilizzato
$font-family:  'Montserrat Variable', sans-serif;