@use './partials/vars' as *;

@import 'bootstrap/scss/bootstrap';
// Supports weights 100-900
@import '@fontsource-variable/montserrat';

body{
  color: white;
  background-color: lightgray;
  font-family: $font-family;
}

ul{
  list-style: none;
}