@use './partials/vars' as *;

@import 'bootstrap/scss/bootstrap';
// Supports weights 100-900
@import '@fontsource-variable/montserrat';

body{
  color: white;
  background-color: $color-bg-container-2-5-8-11;
  font-family: $font-family;
}

ul{
  list-style: none;
}


.swiper{
  overflow: initial;

}

.swiper-button-prev{
left: auto;
right: 60px;
&::after{
  content: '\1f824';
  font-size: 25px;
  line-height: 2px;
}
}

.swiper-button-next{
  &::after{
    content: '\1f826';
    font-size: 25px;
    line-height: 2px;
  }
  }

.swiper-button-prev, .swiper-button-next{
  top:-60px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $color-text;
  color: black;
    &:hover{
    color: $color-text;
    background-color: $color-text-btm-hover;
  }
}

